@using BookShop.Core.Models
@model ICollection<Book>

@{
    ViewBag.Title = "Index";
}

<h2>Книги в наличии</h2>
@foreach (var book in Model)
{<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">@book.Name</div>
    <div class="card-body">
        <h4 class="card-title">Автор : @book.Author</h4>
        <p class="card-text">
            Количество : @book.Count <br />
            Цена : @book.Price
        </p>
    </div>

    <form method="post" action="~/Book/AddBookToBasket">
        <input type="number" name="Count" id="userId" size="1">
        <input type="hidden" id="bookId" name="bookId" value="@book.Id">
        <input type="submit" class="btn btn-secondary" value="В корзину" class="submit" /><br>

    </form>
</div>
}
