@using BookShop.Core.Models
@using BookShop.WebMVC.ViewModels
@model BookShop.WebMVC.ViewModels.BasketVIewModel

@{
    ViewBag.Title = "Index";
}

<h2>Корзина</h2>
<p style="color: red">@ViewBag.StatusMessage</p>
@if (Model.BookOrders.Count > 0)
{
    <table class="table table-hover table-striped ">
        <tr>
            <th scope="col">Автор</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col"></th>
        </tr>
        @foreach (var bookOrder in Model.BookOrders)
        {

            <tr>
                <th>@bookOrder.Book.Author</th>
                <td>@bookOrder.Book.Price</td>
                <td>@bookOrder.Count</td>
                <td>
                    <form method="post" action="~/Basket/DeleteBookOrder">
                        <input type="hidden" id="bookOrderId" name="bookOrderId" value="@bookOrder.Id">
                        <input type="submit" class="btn btn-secondary" value="Удалить" class="submit" /><br>
                    </form>
                </td>
            </tr>

        }
    </table>

    <p><strong>Общая стоимость покупки :</strong>@Model.TotalCost</p>

    <form method="post" action="~/Basket/ConfirmOrder">
        <input type="submit" class="btn btn-secondary" value="Оформить заказ" class="submit" />
    </form>
    <form method="post" style="margin-top: 5%" action="~/Basket/Clear">
        <input type="submit" class="btn btn-secondary" value="Очистить корзину" class="submit" />
    </form>
}
else
{
    <h3> Ваша корзина пуста</h3>
}



